.chat-main
  .chat-main__group-info
    .chat-main__group-info__leftbox
      %p.chat-main__group-info__leftbox__group-name test
      %p.chat-main__group-info__leftbox__member-list Member : users
    = link_to "Edit", "#", class: "chat-main__group-info__group-edit-btn" 
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    .new-message
      .input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "input-box__text", placeholder: "type a message"
          .form__mask
            = f.label :image, class: "input-box__image" do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: "input-box__image__file"
          = f.submit 'Send', class: "submit-btn"
