.chat-main
  .chat-main__group-info
    .chat-main__group-info__leftbox
      %p.chat-main__group-info__leftbox__group-name test
      %p.chat-main__group-info__leftbox__member-list Member : users
    = link_to "Edit", "#", class: "chat-main__group-info__group-edit-btn" 
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "new_message__text", placeholder: "type a message"
      .form__mask
        = f.label :image, class: "new_message__image" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: "new_message__image__file"
      = f.submit 'Send', class: "submit-btn"
