.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      .side-bar__user-name__top-items__icons
        = link_to new_group_path, class: "side-bar__user-name__top-items__icons__new-group" do
          = icon("fas", "edit")
        = link_to edit_user_path(current_user), class: "side-bar__user-name__top-items__icons__user-edit" do
          = icon("fas", "cog")
  .side-bar__groups
    - current_user.groups.each do |group|
      .side-bar__groups__box
        = link_to group_messages_path(group) do
          .side-bar__groups__box__group-name
            = group.name
          .side-bar__groups__box__comment
            = group.show_last_message
